// Navigation Styles here

ul{
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

li a {
    color: black;
  text-decoration: none;
  display: flex;
  font-size: 1.6rem;
  padding: 47px;
  align-items: left;
}

li a:hover {
  color: #D39486;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 2px dashed silver;
    margin: 0 auto;
    }
    
nav h1{
    padding: 35px;
}