// Navigation Styles here

.main-navigation {
  width:100%;
  height: 90px;
  background: @white;
  border-bottom: @dborder;
  position: fixed;
}

.main-navigation .nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-navigation .nav-container .nav {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
}
.main-navigation .nav-container .nav a {
  font-size: 1.6rem;
  color: @shark;
  text-decoration: none;
}

@media (max-width: 500px){
  .main-navigation .nav-container {
      flex-wrap: wrap;
      justify-content: center;
      padding-top:10px;
  }
}
@media (max-width: 500px) {
  .main-navigation .nav-container .logo-heading {
      font-size: 3rem;
  }
}
@media (max-width:500px) {
  .main-navigation .nav-container .nav {
      width:100%;
      justify-content: space-around;
  }
}